<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="C:\KME\log.txt" />
    <add key="FtpServer" value="ftp.livevisning.com" />
    <add key="FtpUserName" value="bos@livevisning.com" />
    <add key="FtpPassWord" value="rxkx9g826ro3" />
    <add key="RemoteSubDir" value="15m/Teststevner" />
    <add key="LeonInstallDir" value="C:\KME\Resultater" />
    <add key="RemotePdfFileName" value="resultater.pdf" />

    <!--<add key="BitMapStartHold" value="1" />-->
    <!--<add key="BitMapSkiveriLaget" value="2" />-->
    <!--<add key="BitMapFelt" value="true" />-->
    <!--<add key="BitMapDir" value="C:\Orion2\BitMap" />-->
    <!--<add key="BitMapDir" value="\\p-fs01\DIPS\Users\LAN\KMEBITMAP" />-->
    <!--<add key="BitMapBackupDir" value="C:\Orion2\bkup" />-->
    <add key="BitMapFetchTimeOut" value="60" />

    <add key="RemoteBitMapDir15m" value="C:\Orion2\bkup" />
    <add key="RemoteBitMapDir100m" value="C:\Orion2\bkup100" />
    <add key="RemoteBitMapDir200m" value="C:\Orion2\bkup200" />

    <!--<add key="RemoteBitMapDir" value="15m/BitMaps" />-->
    <add key="UploadBitmap" value="true" />
    <add key="LoggingLevels" value="Info" />
    <add key="RapportXsltFil" value="C:\Users\lan\Documents\GitHub\ResultsWeb\FileUploaderService\Leon\RapportXslt.xslt" />
    <add key="TopListXsltFil" value="C:\Users\lan\Documents\GitHub\ResultsWeb\FileUploaderService\Leon\TopListeXslt.xslt" />
    <add key="TopListSkyttereXsltFil" value="C:\Users\lan\Documents\GitHub\ResultsWeb\FileUploaderService\Leon\SkytteriLag.xslt" />
    <add key="TopListLagSkyttereXsltFil" value="C:\Users\lan\Documents\GitHub\ResultsWeb\FileUploaderService\Leon\SkytteriLagskyting.xslt" />
    <add key="DebugXslt" value="true" />
    <!--  Error = 10,
         
        /// <summary>
        /// Output informational messages, warnings, messages.
        /// </summary>
        Warning = 15,
        
        /// <summary>
        /// Output informational messages, warnings, and error-handling messages.
        /// </summary>
        Info = 20,
        /// <summary>
        /// Output tracing and informational messages, warnings, and error-handling messages.
        /// </summary>
        Trace = 30, -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>